i {
    font-size: 20px;
}

.profil-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        border: 5px solid var(--secondary);
        box-shadow: 0 0 5px var(--text-color);
        object-fit: cover;
    }

    i {
        margin-left: 20px;
    }
}

.change-image-validator {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
        margin: 0 5px;
    }
}


.profil-info-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .user-info {
            margin-bottom: 150px;
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;

            span {
                font-size: 1.7rem;
                margin-left: 10px;
            }

            .email-info {
                span {
                    margin-left: 10px;
                    color: #888;
                }
            }

            .name-info {
                display: flex;
                align-items: center;

                p {
                    margin-right: 10px;
                }
            }

            .updateName {
                margin-top: 10px;

                input {
                    padding: 8px;
                    border-radius: 5px;
                    font-size: 1.3rem;
                }

                button {
                    margin-left: 5px;
                }
            }


        }

        .account-type-info {
            font-size: 1.2rem;

            span {
                margin-left: 10px;
                font-size: 1.7rem;
                color: var(--alert-color);
            }
        }
    }

    .delete-user-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .delete-user-validator {
            margin: 20px 0;
            display: flex;
            justify-content: space-around;
        }
    }

}