// INDEPENDENT ELEMENTS
.userName {
    font-size: 1.4rem;
    font-weight: 500;

    @media (max-width: 550px) {
        font-size: 1.2rem;
    }
}

// POST
.post-container {
    background-color: var(--secondary);
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 30px;

    @media (max-width: 900px) {
        border-radius: 0px;
    }

    .post-heading {
        display: flex;
        justify-content: space-between;

        .left-part {
            display: flex;

            @media (max-width: 550px) {
                .dateInfo {
                    font-size: .8rem;
                }
            }
        }

        .delete-update-container {
            button {
                margin: 0 3px;
            }

            .fa-xmark {
                color: rgb(148, 37, 37);
            }
        }

        .delete-post-validator {
            display: flex;

            @media (max-width: 900px) {
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-around;

                button {
                    padding: 5px;
                    font-size: .9rem;
                }
            }

            button {
                margin: 0 5px;

                @media (max-width: 550px) {
                    margin: 3px 0px;
                }

            }
        }
    }

    .post-content {
        width: 70%;
        margin: 50px auto;

        @media (max-width: 900px) {
            width: 95%;
            margin: 20px auto;
        }


        p {
            text-align: justify;

            @media(max-width: 550px) {
                font-size: .9rem;
            }
        }

        .img-container {
            width: 100%;
            margin: 30px auto;
            display: flex;
            justify-content: center;
        }

        img {
            width: auto;
            max-height: 800px;
            object-fit: cover;
            border: 1px solid var(--primary);
            box-shadow: 0 0 5px var(--text-color);
            border-radius: 3px;
        }
    }

    .like-showcomment-container {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;

        .like-container {
            display: flex;
            align-items: center;

            p {
                padding: 2px 0 0 10px;
                display: flex;

                @media (max-width: 550px) {
                    font-size: .9rem;
                }
            }
        }

        .showcomment-container {

            button {
                display: flex;
                justify-content: center;
            }
        }
    }

    .post-comments {
        width: 75%;
        margin: 50px auto;

        @media (max-width: 900px) {
            width: 95%;
        }

        .new-comment {
            display: flex;
            align-items: center;

            input {
                font-family: var(--font-family);
                font-size: 1.2rem;
                width: 100%;
                height: 40px;
                padding: 5px;
                border: 2px solid var(--primary);
                box-shadow: 0 0 5px var(--text-color);
                border-radius: 3px;
                margin-right: 10px;

                @media (max-width: 550px) {
                    font-size: 1rem;
                }
            }
        }

        .see-comments {
            margin: 15px 0;
            width: 100%;

            button {
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }

        .comments-list {
            margin-top: 20px;
        }
    }
}