<div class="post-container">

    <div class="post-heading">
        <div class="left-part">
            <img *ngIf="postUser?.imageUrl" class="small-profil-picture" [src]="postUser.imageUrl"
                alt="image de profil">
            <div class="user-info">
                <p *ngIf="postUser?.name" class="userName">{{ postUser.name }}</p>
                <p class="dateInfo">{{ post.createdAt | date: "dd MMM yyyy, HH:mm" }} </p>
            </div>
        </div>
        <div *ngIf="currentUserId === post.userId || currentUserTypeAccount === 'admin'"
            class="delete-update-container">
            <button class="btn-post" *ngIf="!showChoice && !deletePost" (click)="openPostChoice()"><i
                    class="fa-solid fa-ellipsis" title="Modifier / Supprimer"></i></button>
            <button class="btn-post"
                *ngIf="(showChoice && !deletePost && currentUserTypeAccount !== 'admin') || showChoice && !deletePost && ((post.userId === currentUserId)&& currentUserTypeAccount ==='admin')"
                (click)="onUpdatePost()"><i class="fa-regular fa-pen-to-square" title="Modifier"></i></button>
            <button class="btn-post" *ngIf="showChoice && !deletePost" (click)="openDeletePost()"><i
                    class="fa-solid fa-trash" title="Supprimer"></i></button>
            <button class="btn-post" *ngIf="showChoice && !deletePost" (click)="openPostChoice()"><i
                    class="fa-solid fa-xmark" title="Modifier / Supprimer"></i></button>
        </div>
        <div *ngIf="deletePost" class="delete-post-validator">
            <div>
                <button class="btn btn-primary" (click)="stopDeletePost()">Annuler</button>
            </div>
            <div>
                <button (click)="onDeletePost()" class="btn btn-alert">Supprimer le
                    post ?</button>
            </div>
        </div>
    </div>
    <div class="separator separator-heading"></div>

    <div class="post-content">
        <p [innerText]="post.postContent"></p>
        <div *ngIf="post.imageUrl" class="img-container">
            <img [src]="post.imageUrl" alt="image du post">
        </div>
    </div>

    <div class="separator separator-post"></div>

    <div class="like-showcomment-container">
        <div class="like-container">
            <button [ngClass]="{'btn-post-liked':liked}" class="btn-post btn-post-like" (click)="onLike()">
                <i class="fa-regular fa-thumbs-up"></i>
            </button>
            <p [ngClass]="{'text-valid':liked}">{{post.likes}}</p>
        </div>
        <div class="showcomment-container">
            <button *ngIf="fewComments.length > 0" class="btn-show-comment" (click)="openCloseComments()">{{
                showCommentsText
                }}</button>
        </div>
    </div>
    <div class="separator separator-post"></div>

    <div class="post-comments">
        <form [formGroup]="commentForm" class="new-comment">
            <input formControlName="commentContent" type="text" placeholder="Ajoutez un commentaire">
            <button class="btn-post" (click)="onCommentSubmit()" [disabled]="commentForm.invalid"><i
                    class="fa-regular fa-paper-plane" title="Envoyer"></i></button>
        </form>
        <div *ngIf=" showComments" class="comments-list">
            <!-- NG FOR sur comment-container -->
            <app-comment *ngFor="let comment of fewComments" [comment]="comment"
                (commentDeleted)="deletedComment($event)"></app-comment>
            <div class="see-comments">
                <button *ngIf="!noMoreComments" class="btn-comment" (click)="getComments()">voir plus...</button>
            </div>
        </div>
    </div>
</div>