// INDEPENDENT ELEMENTS

.userName {
    font-size: 1.4rem;
    font-weight: 500;
}

.small-profil-picture {
    box-shadow: 0 0 50px var(--primary);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 3px solid var(--text-color);
    margin-right: 20px;
    object-fit: cover;
}

i {
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s;

    &:hover {
        color: var(--secondary);
        background-color: var(--text-color);
    }
}

.separator {
    margin: 15px 0 10px 0;
    height: 1px;
    border-radius: 5px;
    background-color: var(--lightgray);

    &-heading {
        width: 50%;
    }

    &-post {
        width: 80%;
        margin: auto;
    }
}


// POST

.post-container {
    background-color: var(--secondary);
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 30px;

    .post-heading {
        display: flex;
        justify-content: space-between;

        .left-part {
            display: flex;
        }

        .delete-update-container {
            span {
                margin: 0 3px;
            }

            .fa-xmark {
                color: rgb(148, 37, 37);
            }
        }

        .delete-post-validator {
            display: flex;

            button {
                margin: 0 5px;
            }
        }
    }

    .post-content {
        width: 70%;
        margin: 50px auto;

        p {
            text-align: justify;
        }

        .img-container {
            width: 100%;
            margin: 30px auto;
        }

        img {
            width: 100%;
            object-fit: cover;
            border: 1px solid var(--primary);
            box-shadow: 0 0 5px var(--text-color);
            border-radius: 3px;
        }
    }

    .like-showcomment-container {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;

        .like-container {
            display: flex;
            align-items: center;

            i {
                box-shadow: 0 0 3px var(--text-color);
            }

            .liked {
                color: var(--valid-color);
                box-shadow: 0 0 3px var(--valid-color);

            }

            p {
                padding: 2px 0 0 10px;
                display: flex;
            }
        }

        .showcomment-container {

            button {
                display: flex;
                justify-content: center;
            }
        }
    }


    .post-comments {
        width: 75%;
        margin: 50px auto;

        .new-comment {
            display: flex;
            align-items: center;

            input {
                font-family: var(--font-family);
                font-size: 1.2rem;
                width: 100%;
                height: 40px;
                padding: 5px;
                border: 2px solid var(--primary);
                box-shadow: 0 0 5px var(--text-color);
                border-radius: 3px;
                margin-right: 10px;
            }
        }

        .see-comments {
            margin: 15px 0;
            width: 100%;

            button {
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }

        .comments-list {
            margin-top: 20px;

        }
    }
}