<header>
  <nav>
    <div class="logo-container">
      <a routerLink="feed" title="Accueil">
        <img class="bigger-image" src="../../../../assets/images/icon-left-font-monochrome-white.png"
          alt="logo groupomania blanc" />
        <img class="smaller-image" src="../../../../assets/images/icon-left-little.png"
          alt="logo groupomania blanc sans texte" />
      </a>
    </div>
    <ul *ngIf="!(isAuth$ | async)">
      <li routerLink="signup" routerLinkActive="active">SignUp</li>
      <li routerLink="login" routerLinkActive="active">Login</li>
    </ul>
    <ul *ngIf="isAuth$ | async">
      <li routerLink="feed" *ngIf="router.url === '/profil'" title="Accueil">
        <i class="fa-solid fa-house"></i>
      </li>
      <li routerLink="profil" routerLinkActive="active" title="Profil">
        <i class="fa-regular fa-user"></i>
      </li>
      <li (click)="logOut()" title="Se déconnecter">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </li>
    </ul>
  </nav>
</header>