<div class="comment-container">
    <div class="comment-heading">
        <div class="left-part">
            <img *ngIf="commentUserInfo?.imageUrl" class="small-profil-picture small-profil-picture-comment"
                [src]="commentUserInfo.imageUrl" alt="image de profil">
            <div class="user-info">
                <p *ngIf="commentUserInfo?.name" class="username-comment">{{commentUserInfo.name}}</p>
                <p class="comment-post-date"> {{ comment.createdAt | date: "dd MMM yyyy, HH:mm" }}</p>
            </div>
        </div>
        <div class="delete-comment-container"
            *ngIf="currentUserId === comment.userId || currentUserTypeAccount === 'admin'">
            <button class="btn-comment" *ngIf="!deleteComment" (click)="openDeleteComment()"><i
                    class="fa-regular fa-rectangle-xmark exit-icon btn-icon" title="Supprimer"></i></button>
        </div>
        <div *ngIf="deleteComment" class="delete-comment-validator">
            <div>
                <button class="btn btn-primary-smaller" (click)="stopDeleteComment()">Annuler</button>
            </div>
            <div>
                <button (click)="onDeleteComment()" class="btn btn-alert-smaller">Supprimer le
                    commentaire?</button>
            </div>
        </div>
    </div>
    <div class="separator separator-heading"></div>
    <p class="comment-content">{{comment.commentContent}}</p>
</div>