<div class="comment-container">
    <div class="comment-heading">
        <div class="left-part">
            <img class="small-profil-picture" src="../../../../assets/images/profil_tony.jpg" alt="image de profil">
            <div class="user-info">
                <p class="username-comment">UserName</p>
                <p>Post Date</p>
            </div>
        </div>
        <span><i class="fa-regular fa-rectangle-xmark exit-icon" title="Supprimer"></i></span>
    </div>
    <div class="separator separator-heading"></div>
    <p class="comment-content">ceci est mon commentaire</p>
</div>