.comment-container {
    padding: 5px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: var(--tertiary);

    .comment-heading {
        display: flex;
        justify-content: space-between;

        .left-part {
            display: flex;
        }

        .username-comment {
            font-size: 1.3rem;
            font-weight: 500;

            @media (max-width: 550px) {
                font-size: 1.1rem;
            }
        }

        .comment-post-date {
            font-size: .9rem;

            @media (max-width: 550px) {
                font-size: .8rem;
            }
        }
    }

    .comment-content {
        padding: 10px;

        @media (max-width: 550px) {
            font-size: .9rem;
        }
    }

    .delete-comment-validator {
        display: flex;

        button {
            margin: 0 5px;
        }
    }
}