// INDEPENDENT ELEMENTS
.small-profil-picture {
    @media (max-width: 550px) {
        display: none;
    }
}

// PREVIEW NEW POST

.new-post-preview {
    width: 80%;
    margin: 50px auto 20px;
    top: 60px;
    background-color: var(--secondary);
    padding: 20px 10px;
    border-radius: 20px;

    @media (max-width: 900px) {
        border-radius: 0px;
        width: 100%;
    }

    .post-preview-heading {
        display: flex;
        align-items: flex-start;

        textarea {
            font-family: var(--font-family);
            font-size: 1.2rem;
            width: 90%;
            min-height: 70px;
            padding: 5px;
            margin-right: 5px;
            border: 2px solid var(--primary);
            box-shadow: 0 0 5px var(--text-color);
            border-radius: 3px;
            resize: none;

            &::-webkit-scrollbar {
                width: 0px;
            }
        }

        .button-container {
            display: flex;

            button {
                margin-left: 5px;
            }

        }
    }

    .post-preview-content {
        width: 80%;
        margin: 50px auto;

        @media (max-width: 900px) {
            width: 100%;
        }

        p {
            text-align: justify;
        }

        .img-container {
            width: 60%;
            margin: 30px auto;
            display: flex;

            img {
                width: auto;
                margin: auto;
                max-height: 500px;
                border: 1px solid var(--primary);
                box-shadow: 0 0 5px var(--text-color);
                border-radius: 3px;
            }

            .fa-rectangle-xmark {
                height: 30px;
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    color: var(--alert-color);
                }
            }
        }
    }
}