<main>
    <!-- PREVIEW NEW POST -->

    <section *ngIf="showPreview" class="post-container-preview">
        <i *ngIf="!validPost" (click)="closePreview()" class="fa-regular fa-rectangle-xmark exit-icon"
            title="Fermer"></i>
        <app-post-form (postPosted)="postedPost()" (postUpdated)="updatedPost()" [postUpdate]="postUpdate">
        </app-post-form>
    </section>
    <!-- AJOUT DE NOUVELLE PUBLICATIONS -->
    <div class="feed-container" *ngIf="!showPreview">
        <section class="new-post-container">
            <div *ngIf="onLoading" class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
            <img class="small-profil-picture" [src]="currentUserInfo?.imageUrl" alt="image de profil">
            <div (click)="openPreview()" class="new-post-laucher">Partagez une idée, posez une question ...</div>
        </section>

        <!-- LISTE DES PUBLICATIONS -->

        <section class="list-posts-container">

            <!-- *ngFor sur post-container -->
            <app-post *ngFor="let post of fewPosts" [post]="post" (postDeleted)="deletedPost($event)"
                (postUpdateStarted)="updatePost($event)"></app-post>
        </section>
        <div class="show-more-posts">
            <button *ngIf="!noMorePosts" class="btn btn-primary" (click)="getPosts()">Voir plus de publications</button>
        </div>
    </div>
</main>