// INDEPENDENT ELEMENTS
.userName {
    font-size: 1.4rem;
    font-weight: 700;

    &-comment {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.small-profil-picture {
    box-shadow: 0 0 50px var(--primary);
    border-radius: 50%;
    width: 70px;
    border: 3px solid var(--text-color);
    margin-right: 20px;
    object-fit: cover;

    &-comment {
        width: 50px;
    }
}

i {
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s;

    &:hover {
        color: var(--secondary);
        background-color: var(--text-color);
    }
}

.separator {
    margin: 15px 0 10px 0;
    height: 1px;
    border-radius: 5px;
    background-color: var(--lightgray);

    &-heading {
        width: 50%;
    }

    &-post {
        width: 80%;
        margin: auto;
    }
}


// PREVIEW NEW POST

.post-container-preview {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);

    .exit-icon {
        position: sticky;
        color: rgb(255, 0, 0);
        top: 10px;
        margin-left: 90%;
        margin-top: 20px;
        font-size: 2rem;
    }

    .new-post-preview {
        width: 80%;
        margin: 20px auto;
        position: sticky;
        top: 60px;
        background-color: var(--secondary);
        padding: 20px 10px;
        border-radius: 20px;

        .post-preview-heading {
            display: flex;
            align-items: flex-start;

            textarea {
                font-family: var(--font-family);
                font-size: 1.2rem;
                width: 90%;
                height: 70px;
                padding: 5px;
                border: 2px solid var(--primary);
                box-shadow: 0 0 5px var(--text-color);
                border-radius: 3px;
            }
        }

        .post-preview-content {
            width: 80%;
            margin: 50px auto;

            p {
                text-align: justify;
            }

            .img-container {
                width: 60%;
                margin: 30px auto;
            }

            img {
                width: 100%;
                object-fit: cover;
                border: 1px solid var(--primary);
                box-shadow: 0 0 5px var(--text-color);
                border-radius: 3px;
            }
        }
    }
}


// ADD NEW POST

.new-post-container {
    display: flex;
    align-items: flex-start;
    background-color: var(--secondary);
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 50px;

    .new-post-laucher {
        font-family: var(--font-family);
        font-weight: 500;
        color: var(--primary);
        background-color: var(--text-color);
        font-size: 1.2rem;
        width: 90%;
        height: 100px;
        padding: 5px;
        border: 2px solid var(--primary);
        box-shadow: 0 0 5px var(--text-color);
        border-radius: 3px;
        cursor: pointer;
    }
}


// POSTS LIST

.post-container {
    background-color: var(--secondary);
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 30px;

    .post-heading {
        display: flex;
        justify-content: space-between;

        .left-part {
            display: flex;
        }
    }

    .post-content {
        width: 70%;
        margin: 50px auto;

        p {
            text-align: justify;
        }

        .img-container {
            width: 100%;
            margin: 30px auto;
        }

        img {
            width: 100%;
            object-fit: cover;
            border: 1px solid var(--primary);
            box-shadow: 0 0 5px var(--text-color);
            border-radius: 3px;
        }
    }

    .post-comments {
        width: 75%;
        margin: 50px auto;

        .new-comment {
            display: flex;
            align-items: center;

            input {
                font-family: var(--font-family);
                font-size: 1.2rem;
                width: 100%;
                height: 40px;
                padding: 5px;
                border: 2px solid var(--primary);
                box-shadow: 0 0 5px var(--text-color);
                border-radius: 3px;
            }
        }

        .see-comments {
            margin: 15px 0;
            width: 100%;

            i {
                margin: 10px 0;
                display: flex;
                justify-content: center;
                font-weight: 700;
                font-size: 1.2rem;
                width: 20%;
                margin: auto;
                cursor: pointer;
                transition: all .4s;
                border: 1px solid var(--text-color);

                :hover {
                    background-color: var(--text-color);
                    color: var(--primary);
                    border-radius: 5px;

                }
            }
        }

        .comments-list {
            .comment-container {
                padding: 5px 5px;
                border-radius: 10px;
                margin-bottom: 10px;
                background-color: var(--tertiary);

                .comment-heading {
                    display: flex;
                    justify-content: space-between;

                    .left-part {
                        display: flex;
                    }
                }

                .comment-content {
                    padding: 5px;
                }
            }
        }
    }
}