// PREVIEW NEW POST

.post-container-preview {
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, .7);

    .exit-icon {
        position: sticky;
        color: rgb(255, 0, 0);
        top: 10px;
        margin-top: 20px;
        margin-left: 90%;
        font-size: 2rem;
        padding: 3px 8px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0);
        transition: all .3s;

        &:hover {
            background-color: var(--text-color);
        }

        @media (max-width: 900px) {
            position: absolute;
            margin-top: 0px;
            right: 10px;
            top: 5px;
            margin-left: 0;
        }
    }
}


// ADD NEW POST

.new-post-container {
    display: flex;
    align-items: flex-start;
    background-color: var(--secondary);
    padding: 20px 10px;
    border-radius: 20px;
    margin-bottom: 50px;

    @media (max-width: 900px) {
        border-radius: 0px;
        margin-bottom: 20px;
    }

    .new-post-laucher {
        font-family: var(--font-family);
        font-weight: 500;
        color: var(--primary);
        background-color: var(--text-color);
        font-size: 1.2rem;
        width: 90%;
        height: 100px;
        padding: 5px;
        border: 2px solid var(--primary);
        box-shadow: 0 0 5px var(--text-color);
        border-radius: 3px;
        cursor: pointer;

        @media (max-width: 900px) {
            height: 70px;
            width: 80%;
        }
    }

}

// SEE MORE POSTS

.show-more-posts {
    display: flex;
    justify-content: center;
}

// GO TO TOP
.is-on-top {
    display: none;
}

.back-to-top {
    opacity: .6;
    position: fixed;
    bottom: 20px;
    right: 50px;
    animation: all 1s;

    @media(max-width:900px) {
        display: none;
    }

    &:hover {
        opacity: 1;

    }
}