<main>
  <h1>Bienvenue sur GROUPOMANIA</h1>
  <h2>Veuillez remplir le formulaire pour créer votre compte</h2>

  <form [formGroup]="signinForm" class="form">

    <div class="form-group">
      <label for="emailSignin">Email</label>
      <input type="email" id="emailSignin" formControlName="email">
      <span class="text-alert"
        *ngIf="signinForm.get('email')!.hasError('required') && signinForm.get('email')!.touched">Votre email est
        requis</span>
      <span class="text-alert" *ngIf="signinForm.get('email')!.hasError('pattern')">Votre entrée n'est pas au format
        email "test@test.com"</span>
      <span class="text-valid" *ngIf="signinForm.get('email')!.valid">Email valide</span>
    </div>

    <div class="form-group">
      <label for="passwordSignin">Mot de passe</label>
      <input type="password" id="passwordSignin" formControlName="password">
      <span class="text-alert"
        *ngIf="signinForm.get('password')!.hasError('required') && signinForm.get('password')!.touched">Votre mot de
        passe est requis</span>
      <span class="text-alert" *ngIf="signinForm.get('password')!.hasError('pattern')">Veuillez respecter les règles
        suivantes : min 8
        caractères, 1 majuscule, 1 minuscule, 1 chiffre, max 64 caractères, pas d'espaces</span>
      <span class="text-valid" *ngIf="signinForm.get('password')!.valid">Mot de passe valide</span>
    </div>

    <div class="form-group">
      <label for="nameSignIn">Nom d'utilisateur</label>
      <input type="text" id="nameSignin" class="form-control" formControlName="name">
      <span class="text-alert"
        *ngIf="signinForm.get('name')!.hasError('required') && signinForm.get('name')!.touched">Votre nom est
        requis</span>
      <span class="text-alert" *ngIf="signinForm.get('name')!.hasError('pattern')">Votre nom d'utilisateur ne doit pas
        contenir de
        caractères spéciaux et faire moins de 30 caractères</span>
    </div>

    <button type="button" class="btn btn-primary" (click)="onSignup()" [disabled]="signinForm.invalid">SIGN UP</button>
  </form>
</main>