/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --font-family: 'Lato', sans-serif;
    --primary: #070527;
    --secondary: #2C2B43;
    --tertiary: #414164;
    --lightgray: #bbb;
    --text-color: #fff;
    --alert-color: rgb(168, 51, 51);
    --valid-color: rgb(62, 150, 62);
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--primary);
}

// THEMES

.spinner-container {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-simple-snackbar {
    font-size: 20px !important;
}

.success-snackbar {
    background-color: var(--valid-color);
    color: var(--text-color);

    .mat-button-wrapper {
        color: var(--primary) !important; // action text color
    }
}

.error-snackbar {
    background-color: var(--alert-color);
    color: var(--text-color);

    .mat-button-wrapper {
        color: var(--primary) !important; // action text color
    }
}

.btn {
    padding: 15px 20px;
    background-color: white;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary);
    cursor: pointer;

    &-primary {
        background-color: var(--lightgray);
        color: var(--primary);

        &:hover {
            background-color: var(--text-color);
            box-shadow: 0 0 3px var(--text-color);
        }

        transition: background-color 0.3s;
    }

    &-alert {
        background-color: var(--text-color);
        color: var(--primary);

        &:focus {
            background-color: var(--alert-color);
            box-shadow: 0 0 3px var(--text-color);
            color: var(--text-color);
        }

        &:hover {
            background-color: var(--alert-color);
            box-shadow: 0 0 3px var(--text-color);
            color: var(--text-color);
        }

        transition: background-color 0.3s;
    }

    &-circle {
        cursor: pointer;
        background-color: var(--primary);
        border: none;
        color: var(--text-color);
        border-radius: 50%;
        padding: 10px 10px;

        &:hover {
            background-color: var(--text-color);
            color: var(--primary);
        }

        transition: background-color 0.3s;
    }

    &-comment {
        padding: 5px 10px;
        background-color: var(--secondary);
        border: 0;
        border-radius: 3px;
        font-weight: 700;
        font-size: 1rem;
        border: 1px solid var(--secondary);
        cursor: pointer;
        color: var(--text-color);
        transition: all 0.4s;

        &:hover {
            box-shadow: 0 0 3px var(--text-color);
            background-color: var(--secondary);
            border: 1px solid var(--text-color);
        }

    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    padding: 50px 0;

    &-group {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    label {
        margin-bottom: 5px;
    }

    input {
        padding: 12px 5px;
        margin-bottom: 5px;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 5px;
    }
}



// UTILS

.active {
    background-color: var(--secondary);
    border: 1px solid var(--lightgray);
    border-radius: 3px;
}

.text-alert {
    color: var(--alert-color);
    font-weight: bold;
    text-align: center;
    padding: 0 5px;

    &-final {
        font-size: 1.2rem;
    }

    &-small {
        font-size: .5rem;
    }
}

.text-valid {
    color: var(--valid-color);
    font-weight: bold;
    text-align: center;
    padding: 0 5px;

    &-final {
        font-size: 1.2rem;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

// DEBUG 

.d1 {
    border: solid 1px red;
}

.d2 {
    border: solid 1px green;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}