/* You can add global styles to this file, and also import other style files */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --font-family:'Lato', sans-serif;
    --primary: #070527;
    --secondary:#2C2B43;
    --lightgray:#bbb;
    --text-color:#fff;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--primary);
}

// THEMES

.btn {
    padding: 10px 15px;
    background-color: white;
    border: 0;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    &-primary {
      background-color: var(--lightgray);
      color: var(--primary);
      &:hover {
        background-color: var(--text-color);
        box-shadow: 0 0 3px var(--text-color);
      }
      transition: background-color 0.3s;
    }
  }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    padding: 50px 0;
    
    &-group {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    label {
        margin-bottom: 5px;
    }

    input {
        padding: 12px 5px;
        margin-bottom: 5px;
        width: 100%;
        font-size: 1.2rem;
        border-radius: 5px;
    }
}



// UTILS

.active {
    background-color: var(--secondary);
    border: 1px solid var(--lightgray);
    border-radius: 3px;
}

.text-alert {
    color: red;
}

.text-valid {
    color: green;
}

// DEBUG 

.d1 {
    border: solid 1px red;
}

.d2 {
    border: solid 1px green;
}