.profil-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        border: 5px solid var(--secondary);
        box-shadow: 0 0 5px var(--text-color);
        object-fit: cover;

        @media (max-width: 700px) {
            width: 250px;
            height: 250px;
        }
    }

    label {
        margin-left: 10px;
    }
}

.change-image-validator {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    button {
        margin: 0 3px;

        @media (max-width: 900px) {
            width: 80px;
            font-size: .8rem;
        }
    }
}


.profil-info-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 700px) {
        flex-direction: column;
        margin-top: 25px;
    }


    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .user-info {
            margin-bottom: 150px;
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;

            @media (max-width: 900px) {
                margin: 0 0 25px 20px;
                font-size: 1rem;
            }

            span {
                font-size: 1.5rem;
                margin-left: 10px;

                @media (max-width: 700px) {
                    font-size: 1.2rem;
                }
            }

            .email-info {
                span {
                    margin-left: 10px;
                    color: #888;
                }
            }

            .name-info {
                display: flex;
                align-items: center;

                p {
                    margin-right: 10px;
                }
            }

            .updateName {
                margin-top: 10px;

                input {
                    padding: 8px;
                    border-radius: 5px;
                    font-size: 1.3rem;
                }

                button {
                    margin-left: 5px;
                }

                @media (max-width: 900px) {
                    input {
                        padding: 6px;
                        font-size: 1rem;
                    }
                }
            }
        }

        .account-type-info {
            font-size: 1.2rem;

            @media (max-width: 900px) {
                margin-left: 20px;
                font-size: 1rem;
            }

            span {
                margin-left: 10px;
                font-size: 1.7rem;
                color: var(--alert-color);

                @media (max-width: 700px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .delete-user-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 900px) {
            margin: 20px 20px 0 20px;

            button {
                margin-top: 50px;
                width: 180px;
                font-size: .8rem;
            }
        }

        .delete-user-validator {
            margin: 20px 0;
            display: flex;
            justify-content: space-around;

            @media (max-width: 700px) {
                justify-content: start;
                margin: 0;

                button {
                    width: 80px;
                    margin: 20px 5px;
                }
            }
        }
    }
}